$navbar-height: 60px;
$font-family: 'Arial, sans-serif';

$color-palette: (
  red: (
    100: #ffe3e3,
    200: #ffaaaa,
    300: #ff7171,
    400: #ff3939,
    500: #ff0000,
    600: #c60000,
    700: #8e0000,
    800: #550000,
    900: #1c0000
  ),
  white: (
    100: #E0F2E9,
    500: #ffffff
  ),
  blue: (
    50: #EAEEF8,
    100: #C0CBE9,
    200: #97A9DA,
    300: #6D86CB,
    400: #5386E4,
    500: #4364BC,
    600: #344D92,
    700: #2F5F38,
    800: #253768,
    900: #16213F
  ),
  grey: (
    100: #F1F1F1,
    200: #D4D4D4,
    300: #B8B8B8,
    400: #9C9C9C,
    500: #636363,
    600: #636363,
    700: #474747,
    800: #2A2A2A,
    900: #2A2A2A
  ),
  green: (
    100: #ECF6EE,
    200: #C6E3CC,
    300: #A0D0AA,
    400: #7ABD87,
    500: #69B578,
    600: #42854F,
    700: #2F5F38,
    800: #1C3922,
    900: #09130B
  )
);

// Function to get the default color for a given color name
@function get-default-color($color-name) {
  @if not map-has-key($color-palette, $color-name) {
    @warn "Color name '#{$color-name}' is not found in the color palette.";
    @return null; // Or return a fallback color
  }

  @return map-get(map-get($color-palette, $color-name), 100);
}
