@mixin icon-button-size($width, $height, $Padding) {
    padding: $Padding;
    width: fit-content;
    height: fit-content;
    svg {
        width: $width;
        height: $height;
    }
}

@mixin button-size($TopBottomPadding, $LeftRightPadding, $fontSize) {
    padding: $TopBottomPadding $LeftRightPadding;
    font-size: $fontSize;
}