@import '../../styles/base/variables';
@import '../../styles/base/mixins';
@import '../button/button-mixins.scss';

.textIconButton {
    padding: 3px 9px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: white;
    outline: none;
    display: flex;
    align-items: center;
    gap: 5px;

    &.link {
        margin: 0 !important;
    }

    &.tib--btn--outlined {
        border: 1px solid rgb(37, 37, 37);
        &:hover {
            border-color:darken(rgb(37, 37, 37), 10%);
            background-color: lighten(rgb(37, 37, 37), 75%);
        }
    }

    &.tib--btn--solid {
        background-color: rgb(37, 37, 37);
        color: white;
        &:hover {
            background-color: darken(rgb(37, 37, 37), 10%);
        }
    }

    &.tib--btn--text {
        color: rgb(37, 37, 37);
        &:hover {
            background-color: lighten(rgb(37, 37, 37), 75%);
        }
        &:focus-visible {
            border: none;
        }
    }

    &:focus-visible {
        border: 2px solid;
        box-shadow: 0 0 0 4px lighten(rgb(37, 37, 37), 70%);
    }
}

.textIconButton {
    &.tib--btn--small {
        @include text-icon-button-size(0.975rem, 0.975rem, 5px, 15px, 13px);
    }

    &.tib--btn--medium {
        @include text-icon-button-size(1.1rem, 1.1rem, 7px, 17px, 14px);
    }

    &.tib--btn--large {
        @include text-icon-button-size(1.45rem, 1.45rem, 9px, 19px, 16px);
    }
}

// Generate color classes
@each $color-name, $shades in $color-palette {
    @each $shade-name, $shade-value in $shades {
      $opacity : 0.8;
      .tib--btn--#{$color-name}-#{$shade-name} {
        &.tib--btn--outlined {
          border-color: $shade-value;
          color: $shade-value;
          &:hover {
                border-color:darken($shade-value, 10%);
                background-color: mix(rgb(255, 255, 255), $shade-value, $opacity * 100% + 2);
                color:darken($shade-value, 10%);;
            }
        }
  
        &.tib--btn--solid {
          background-color: $shade-value;
          color: white;
          fill: white;
          &:hover {
                background-color: darken($shade-value, 10%);
            }
        }
  
        &.tib--btn--text {
          color: $shade-value;
          fill: $shade-value;
          &:hover {
                background-color: mix(rgb(255, 255, 255), $shade-value, $opacity * 100% + 2);
            }
        }
        &:focus-visible {
            box-shadow: 0 0 0 4px lighten($shade-value, 15%);
        }
      }
    }
  }
  
  @include mobile {
    .textIconButton {
        min-width: 100%;
    }
  }